*.js linguist-detectable=false
*.jsx linguist-detectable=false
*.ts linguist-detectable=false
*.jsx linguist-detectable=false


dist/** linguist-vendored
build/** linguist-vendored
node_modules/** linguist-vendored
